@charset "UTF-8";

@keyframes menuAnimation {
    from {background-color: rgb(77, 73, 73);}
    to {background-color: #808080;}
}

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    background-color: lightgray;
}

header {
    background-color: #949494;
}

header > h1 {
    padding: 15px;
    text-align: center;
}

header > i {
    background-color: rgb(61, 58, 58);
    display: block;
    width: 97vw;
    border-top: 2px rgb(44, 42, 42);
    color: white;
    text-align: center;
    padding: 10px;
}

header > i:hover {
    animation-name: menuAnimation;
    animation-duration: 500ms;
    background-color: #808080;
    cursor: pointer;
}

menu {
    display: none;
}

ul {
    list-style-type: none;
}

li {
    list-style: none;
    display: block;
    padding: 10px;
    background-color: rgb(77, 73, 73);
    border-top: 4px solid rgb(48, 45, 45);
    text-align: center;
}

li:hover {
    animation-name: menuAnimation;
    animation-duration: 500ms;
    background-color: #808080;
}

menu > ul > li > a {
    text-decoration: none;
    color: white;
}

article#artigo1 {
    background-color: white;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    width: 90vw;
    max-width: 780px;
}

article > h2 {
    padding: 10px;
}

article > p {
    text-indent: 20px;
    padding: 10px 10px;
}
